In [1]:
import numpy as np
import pandas as pd
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from numba import jit
from sklearn import *
import lightgbm as lgb
from multiprocessing import *

C:\Users\KrystalU\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\KrystalU\Anaconda2\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
C:\Users\KrystalU\Anaconda2\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [ ]:
train = pd.read_csv('D:/Driver/ohe_train_v2.csv')
test = pd.read_csv('D:/Driver/ohe_train_v2.csv')

In [3]:
train.head()

,id,ps_calc_01,ps_calc_02,ps_calc_03,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,...,ohe_ps_ind_04_cat_1,ohe_ps_ind_05_cat_-1,ohe_ps_ind_05_cat_0,ohe_ps_ind_05_cat_1,ohe_ps_ind_05_cat_2,ohe_ps_ind_05_cat_3,ohe_ps_ind_05_cat_4,ohe_ps_ind_05_cat_5,ohe_ps_ind_05_cat_6,cnt_of_missing
0,7,0.6,0.5,0.2,3,1,10,1,10,1,...,1,0,1,0,0,0,0,0,0,1
1,9,0.3,0.1,0.3,2,1,9,5,8,1,...,0,0,1,0,0,0,0,0,0,2
2,13,0.5,0.7,0.1,2,2,9,1,8,2,...,1,0,1,0,0,0,0,0,0,3
3,16,0.6,0.9,0.1,2,4,7,1,8,4,...,0,0,1,0,0,0,0,0,0,0
4,17,0.4,0.6,0.0,2,2,6,3,10,2,...,1,0,1,0,0,0,0,0,0,2

In [ ]:
def transform(df):
    dcol = [c for c in df.columns if c not in ['id','target']]
    df['ps_car_13_x_ps_reg_03'] = df['ps_car_13'] * df['ps_reg_03']
    for c in dcol:
        if '_bin' not in c: #standard arithmetic
            df[c+str('_median_range')] = (df[c].values > d_median[c]).astype(np.int)
            df[c+str('_mean_range')] = (df[c].values > d_mean[c]).astype(np.int)
    return df